**/*#
**/*~
**/*.log
**/target
**/tmp
**/db
*.pyc
/data/geoip/GeoIP2-City.mmdb
/src/env.lua
/.env_raw
/.gitconfig
/env/
.gitconfig

.env
.env*

scripts/project-key.json
scripts/test-nodes.tf
scripts/single-node-test/nodelist.csv
scripts/single-node-test/gatewaylist.csv
scripts/eth-sources.csv
scripts/.env

scripts/single-node-test/.terraform/
scripts/single-node-test/terraform.lock
scripts/single-node-test/.terraform.*
scripts/single-node-test/terraform.tfstate*
scripts/single-node-test/tfplan
scripts/single-node-test/project_key.json
scripts/single-node-test/test-nodes.tf
scripts/single-node-test/MASSBITROUTE_CORE_IP
scripts/single-node-test/MASSBITROUTE_PORTAL_IP
scripts/single-node-test/MASSBITROUTE_RUST_IP
scripts/single-node-test/test-hosts-file
scripts/single-node-test/hosts/
scripts/single-node-test/DAPI_URL
scripts/single-node-test/.env
/logs/*
/.module_paths
/.node/
/apps/tests/
/public/
t/servroot
