options => {
    run_dir = run/dns
    state_dir = run/dns
    tcp_threads => 1
    udp_threads => 1
    edns_client_subnet => true
    zones_default_ttl => 3600
    listen => [LISTEN_IP]
    dns_port = 53
}

service_types => {
    $include{conf.d/monitors.d/*}
}


plugins => {
    simplefo => {
        $include{conf.d/failover.d/*}
    }
    weighted => {
            $include{conf.d/weighted.d/*}
    }
    multifo => {
            $include{conf.d/multivalue.d/*}
    }

    metafo => {
        resources => {
            $include{conf.d/datacenter.d/*}
        }
    }
    geoip =>  {
            maps => {
                $include{conf.d/geolocation.d/maps.d/*}
            }
            resources => {
                $include{conf.d/geolocation.d/resources.d/*}
            }
    }
}

