@charset "UTF-8";
/* base styling for all avatars with pictures */
.webix_um_avatarbox {
  width: 180px;
  height: 180px;
  margin: 20px auto 20px auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 120px;
  text-align: center;
  line-height: 180px;
  display: block;
  background: #f7e2bc;
}

.webix_um_avatarbox_roles {
  width: 180px;
  height: 180px;
  background: #f7e2bc;
  margin: 20px auto 20px auto;
  font-size: 110px;
  text-align: center;
  line-height: 180px;
  color: rgba(255, 255, 255, 0.5);
}

.webix_um_search_mark {
  background: yellow;
  color: black;
}

/* pages layout */
.webix_um_tableview {
  background: #ebedf0;
}

/* tabbar*/
.webix_um_editor_tabbar {
  border-left-color: #fff;
}

/* edit form title */
.webix_um_details_title {
  font-weight: 500;
  font-size: inherit;
  color: #313131;
}

.webix_um_details_title .webix_template {
  padding: 2px;
}

.webix_um_details_title_description .webix_template {
  padding: 10px 2px;
}

/* avatarbox for table */
.webix_um_table_image_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.webix_um_table_image_container .webix_um_avatarbox {
  margin: 5px;
  margin: 6px;
  height: 41px;
  width: 41px;
  border-radius: 50%;
}
.webix_um_table_image_container .webix_um_avatarbox .webix_icon {
  font-size: 35px;
}

.webix_um_transparent {
  background: transparent;
}

.webix_um_sidebar .webix_view {
  background: transparent;
}

/* details info list*/
.webix_um_infolist_header {
  line-height: 25px;
  font-weight: 500;
  color: #313131;
  padding-left: 2px;
}
.webix_um_infolist_header .webix_icon {
  float: left;
  margin: 2px 8px 0 0;
  font-size: 20px;
  color: #8693a5;
}

ul.webix_um_infolist {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 5px;
}

.webix_um_infolist {
  font-size: 14px;
  margin-bottom: 20px;
}

.webix_um_infolist:last-child {
  margin-bottom: 10px;
}

.webix_um_infolist li {
  padding-left: 30px;
  line-height: 28px;
  min-height: 28px;
  color: #1689cb;
  background-color: #f4f5f9;
  margin-bottom: 3px;
}
.webix_um_infolist li:hover {
  cursor: pointer;
}

.webix_um_infolist .wxi-close {
  color: #8693a5;
  float: right;
  line-height: 25px;
}

.webix_um_infolist_name:hover {
  color: #006e8c;
  text-decoration: underline;
}

/* custom checkboxes in datatable*/
.webix_um_details_table .wxi-checkbox-marked {
  font-size: 18px;
  color: #3498db;
}
.webix_um_details_table .wxi-checkbox-blank {
  color: #8693a5;
  font-size: 18px;
}

.webix_um_details_table .webix_cell .wxi-checkbox-marked,
.webix_um_details_table .webix_cell .wxi-checkbox-blank {
  line-height: 43px;
}

.webix_um_details_table_rules .webix_cell .wxi-checkbox-marked,
.webix_um_details_table_rules .webix_cell .wxi-checkbox-blank {
  line-height: 59px;
}
.webix_um_details_table_rules .webix_hcell .wxi-checkbox-marked,
.webix_um_details_table_rules .webix_hcell .wxi-checkbox-blank {
  line-height: inherit;
}
.webix_um_details_table_rules .webix_column:not(.webix_um_checkbox_column) .webix_cell {
  padding-top: 5px;
}
.webix_um_details_table_rules .webix_um_details_row {
  white-space: nowrap;
}

.webix_um_details_table.webix_dtable:not(.webix_um_matrix) .webix_ss_header td.webix_last_row {
  border-bottom: 1px solid #ebebeb;
}

.webix_um_details_row {
  line-height: 15px !important;
  font-size: 13px;
  white-space: normal;
  color: #8693a5;
}

.webix_um_row_select {
  background: #f4f5f9;
}

.webix_um_deleted_user {
  color: #8693a5;
}

.webix_um_cell_clickable:hover {
  color: #006e8c;
  text-decoration: underline;
  cursor: pointer;
}

.webix_um_details_table .webix_ss_filter input {
  padding: 0 7px;
}

.webix_um_role_avatar,
.webix_um_member_avatar {
  margin: 6.5px;
  height: 31px;
  line-height: 31px;
  width: 31px;
  font-size: 20px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  text-align: center;
  letter-spacing: -0.5px;
}

.webix_um_details_table .webix_um_role_avatar,
.webix_um_details_table .webix_um_member_avatar {
  float: left;
  margin-right: 12px;
}

.webix_um_member_avatar {
  background-color: #95ddbe;
}

.webix_um_role_avatar {
  background: #f7e2bc;
}

.webix_um_member_avatar.webix_um_no_name {
  background: #f7e2bc;
}

.webix_um_member_avatar_big {
  margin: 6px;
  height: 41px;
  line-height: 41px;
  width: 41px;
}

.webix_um_avatar_0 {
  background: #00a037;
}

.webix_um_avatar_1 {
  background: #13a1aa;
}

.webix_um_avatar_2 {
  background: #fd772c;
}

.webix_um_avatar_3 {
  background: #b26bd3;
}

.webix_um_avatar_4 {
  background: #c87095;
}

.webix_um_avatar_5 {
  background: #eb2f89;
}

.webix_um_avatar_6 {
  background: #9bb402;
}

.webix_um_avatar_7 {
  background: #e7a90b;
}

.webix_um_avatar_8 {
  background: #0bbed7;
}

.webix_um_avatar_9 {
  background: #038cd9;
}

/* sidebar*/
.webix_um_sidebar {
  background: #4a4e58;
}

.webix_um_sidebar > .webix_view {
  border-color: #4a4e58;
}

.webix_um_sidebar_menu {
  background-color: transparent;
}

.webix_um_sidebar_menu .webix_list_item {
  border-color: transparent;
  color: #ffffff;
  line-height: 42px;
}

.webix_um_sidebar_menu .webix_list_item.webix_selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: transparent;
  color: #27ae60;
}

/* sidebar add menu*/
.webix_um_add_new_menu {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  background: #4a4e58;
}
.webix_um_add_new_menu .webix_menu {
  background: transparent;
  border-color: #646873;
}
.webix_um_add_new_menu .webix_list_item {
  background: #4a4e58;
  color: #ffffff;
}
.webix_um_add_new_menu .webix_menu .webix_list_item:hover,
.webix_um_add_new_menu .webix_menu .webix_list_item:active {
  background-color: #3f424a;
}

.webix_um_sidebar_menu .webix_icon {
  position: relative;
  top: 3px;
  font-size: 23px;
  margin-right: 10px;
}

.webix_um_toolbar .umi-menu {
  font-size: 23px;
}

.webix_um_sidebar .webix_icon_btn {
  margin-left: -3px;
}

/* status badge */
.webix_um_badge_container {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.webix_um_badge_container .webix_um_status_badge {
  height: 17px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.webix_um_status_badge {
  border-radius: 8px;
  padding: 3px 12px;
  font-size: 14px;
  font-weight: 500;
}
.webix_um_status_badge.webix_um_active {
  background-color: #4bc48f;
  color: #fff;
}
.webix_um_status_badge.webix_um_not_active {
  background-color: #ff8370;
  color: #fff;
}
.webix_um_status_badge.webix_um_unknown {
  background-color: #888;
  color: #fff;
}

.webix_um_infolist_details {
  padding-left: 30px;
  line-height: 25px;
  min-height: 25px;
  margin-bottom: 18px;
}

/* details title and description*/
.webix_um_title {
  margin-top: 10px;
  color: #313131;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.webix_um_description {
  margin: 10px 0 10px 0;
}

.webix_um_uploader .webix_button,
.webix_um_uploader .webix_icon_btn::before {
  color: #3498db;
}

.webix_um_form_label {
  text-align: right;
}

.webix_um_status_switch .webix_switch_box {
  border: 1px solid #edf1f3;
  background-color: #ff8370;
}
.webix_um_status_switch .webix_switch_box.webix_switch_on {
  background-color: #4bc48f;
}
.webix_um_status_switch .webix_label_right {
  padding-top: 1px;
  padding-left: 20px;
}

.webix_um_edit_form label,
.webix_um_edit_form .webix_um_form_label .webix_el_box,
.webix_um_edit_form .webix_forminput_label {
  padding-right: 20px;
}
.webix_um_edit_form .webix_um_template_date .webix_template {
  padding: 3px 2px;
  line-height: 32px;
}

.webix_el_label.webix_um_text_normal .webix_el_box {
  font-weight: normal;
}

.webix_um_credentials .webix_transparent .webix_button {
  color: #3498db;
}

.webix_um_divider .webix_template {
  padding: 0;
}

.webix_um_divider_line {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid #dadee0;
}

.webix_um_passw_label .webix_inp_top_label {
  font-weight: 400;
}

.webix_um_form_avatar .webix_um_avatarbox {
  width: 95px;
  height: 95px;
  margin: 0;
  font-size: 70px;
  line-height: 95px;
}
.webix_um_form_avatar .webix_template {
  padding: 0px;
}

.webix_um_details_table .webix_cell.webix_dtable_subrow {
  background: #ffffff;
}

.webix_um_assignments_list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px 0px 8px;
}

.webix_um_assignments_list li {
  text-align: left;
  padding-left: 20px;
  line-height: 25px;
  min-height: 25px;
  margin-bottom: 3px;
}

.webix_um_assignments_description {
  line-height: 27px;
  margin-left: 5px;
}
.webix_um_assignments_description .webix_um_assignments_rule_name {
  font-weight: 500;
}

.webix_um_center_column {
  text-align: center;
}

.webix_um_column_name .webix_cell {
  color: #313131;
}

.webix_um_matrix .webix_ss_left .webix_column.webix_last > div {
  border-right: 1px solid #ebebeb;
}

.webix_um_matrix .webix_column:not(.webix_um_column_name) .webix_cell {
  line-height: 60px !important;
}

.webix_um_matrix .wxi-check {
  color: #3498db;
  font-size: 18px;
  font-weight: 400;
}

.webix_um_matrix .wxi-minus {
  color: #8693a5;
  font-size: 12px;
}

.webix_um_center_column.webix_um_names span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.webix_um_prompt .webix_win_head {
  border-bottom-color: transparent;
}

ul.webix_um_roleslist {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 8px;
}

.webix_um_roleslist_item {
  background: #f4f5f9;
  padding: 0 12px 0 8px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 4px;
}

.webix_um_roleslist_item:not(.webix_um_roleslist_item_direct) {
  color: #1689cb;
  cursor: pointer;
}
.webix_um_roleslist_item:not(.webix_um_roleslist_item_direct):hover {
  color: #006e8c;
  text-decoration: underline;
}

.webix_um_roleslist_item_direct {
  background: #f4f5f9;
  color: #8693a5;
}

.webix_um_roleslist_item_marker.webix_icon {
  font-size: 13px;
  float: left;
  margin-top: 5.5px;
  margin-right: 5px;
  width: 16px;
}

.webix_um_saving_icon,
.webix_um_saved_icon {
  font-size: 26px;
  line-height: inherit;
}

.webix_um_saving_icon {
  color: #fff;
}

.webix_um_saved_icon {
  color: #fff;
}

.webix_toolbar .webix_el_label.webix_um_saved_label .webix_el_box {
  font-weight: 400;
  font-size: inherit;
  color: #fff;
  padding-right: 5px;
}

.umi-sync.webix_spin {
  -webkit-animation: webix-um-spin 2s infinite linear;
  animation: webix-um-spin 2s infinite linear;
  width: 26px;
}

@-webkit-keyframes webix-um-spin {
  0% {
    -webkit-transform: rotate(359deg);
    transform: scaleX(-1) rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: scaleX(-1) rotate(0deg);
  }
}
@keyframes webix-um-spin {
  0% {
    -webkit-transform: rotate(359deg);
    transform: scaleX(-1) rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: scaleX(-1) rotate(0deg);
  }
}
.webix_color_row > div {
  padding: 2px;
  box-sizing: border-box;
}

.webix_color_row > div > div {
  box-sizing: border-box;
  border-radius: 2px;
}

/**
usermanager-webfont Webfont
*/
@font-face {
  font-family: "usermanager-webfont";
  src: url("../fonts/usermanager-webfont.woff2?1587733428103") format("woff2"), url("../fonts/usermanager-webfont.woff?1587733428103") format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^=umi-]:before,
[class*=umi-]:before {
  font-family: "usermanager-webfont";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/*
Glyphs list
*/
.umi-users:before {
  content: "";
}

.umi-roles:before {
  content: "";
}

.umi-rules:before {
  content: "";
}

.umi-menu:before {
  content: "";
}

.umi-matrix:before {
  content: "";
}

.umi-back:before {
  content: "";
}

.umi-upload:before {
  content: "";
}

.umi-check-circle:before {
  content: "";
}

.umi-email:before {
  content: "";
}

.umi-clock:before {
  content: "";
}

.umi-sync:before {
  content: "";
}

.webix_view.webix_popup.webix_um_add_new_menu {
  border-color: #4a4e58 !important;
}

.webix_um_editor_tabbar.webix_view.webix_el_tabbar .webix_all_tabs .webix_item_tab:first-child {
  border-left: 1px solid #5faee3;
}