/* list of persons */
.userphoto {
  display: inline-block;
  border-radius: 25px;
  width: 48px;
  height: 48px;
  float: left;
}
.text {
  padding: 4px 4px 4px 16px;
  display: inline-block;
}
.username {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #313131;
  font-weight: 500;
  line-height: 20px;
  display: block;
}
.money {
  color: #475466;
  display: block;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected {
  padding: 8px 12px;
}
/* toolbar buttons */
.logo {
  background: url(stack52.png) 12px 4px no-repeat;
}
.webix_el_label.main_label {
  line-height: 36px;
}
.webix_el_label.main_label .webix_el_box {
  font-size: 20px;
}
.main_photo {
  border-radius: 50%;
  background-color: #1CA1C1;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.main_photo:hover {
  opacity: 0.7;
}
/* grid */
.complete {
  color: #1ca1c1;
}
.incomplete {
  color: #ff5c4c;
}
.complete,
.incomplete {
  cursor: pointer;
  font-size: 20px;
  margin-top: 8px;
}
#datatable1538415083071
  > div.webix_ss_body
  > div.webix_ss_center
  > div
  > div.webix_column.tags
  > div:nth-child(1)
  > span {
  vertical-align: middle;
}
.tag {
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0);
  color: #fff;
}
.support {
  background-color: #8664c6;
}
.quality {
  background-color: #1ca1c1;
}
.failure {
  background-color: #fdbf4c;
}
.data {
  background-color: #f8643f;
}
/* headers (templates) */
.webix_view.chart_header {
  text-align: center;
}
/* notifications */
.notifications .webix_list_item {
  line-height: 20px;
  padding: 10px;
}
.notifications .webix_list_item .m_title {
  font-weight: 500;
  color: #313131;
}
.notifications .webix_list_item .message {
  display: block;
  color: #475466;
}

.status0 {
  background-color: #eb6e1a;
}
.status1 {
  background-color: #27ae60;
}
.status2 {
  background-color: #a693eb;
}

.webix_list .marker {
  float: left;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
}

.title {
  background-color: #fbfbfb;
}
.title .webix_template {
  padding: 10px 12px;
  line-height: 29px;
}
.title .header {
  float: left;
  font-size: 18px;
}
.title .details {
  float: left;
  font-size: 13px;
  font-style: italic;

  padding-left: 10px;
}
.status0 {
  background-color: #eb6e1a;
}
.status1 {
  background-color: #27ae60;
}
.status2 {
  background-color: #a693eb;
}
.status3 {
  background-color: #eb6e1a;
}

.myedit {
  background-color: lightyellow;
}
.myprice {
  font-weight: 500;
  font-size: 30px;
}
.myprice1 {
  font-weight: 500;
  font-size: 20px;
}
.overviewlabel .webix_el_box {
  font-size: 20px;
}

.crumbs .webix_list_item {
  border-right: none;
}
.crumbs .webix_list_item:not(:first-child) {
  margin-left: -10px;
}

.crumbs a,
.crumbs a:visited {
  text-decoration: none;
  color: #4444dd;
}
.crumbs .webix_list_item:not(:first-child):before {
  content: ">";
  padding-right: 10px;
}

body,textarea,input,select{background:0;border-radius:0;font:16px sans-serif;margin:0}.addon,.btn-sm,.nav,textarea,input,select{outline:0;font-size:14px}.smooth{transition:all .2s}.btn,.nav a{text-decoration:none}.container{margin:0 20px;width:auto}@media(min-width:1310px){.container{margin:auto;width:1270px}}.btn,h2{font-size:2em}.table th,.table td{padding:.5em;text-align:left}.table tbody>:nth-child(2n-1){background:#ddd}.row{margin:1% 0;overflow:auto}.col{float:left}.table,.c12{width:100%}.c11{width:91.66%}.c10{width:83.33%}.c9{width:75%}.c8{width:66.66%}.c7{width:58.33%}.c6{width:50%}.c5{width:41.66%}.c4{width:33.33%}.c3{width:25%}.c2{width:16.66%}.c1{width:8.33%}@media(max-width:870px){.row .col{width:100%}}

img {
  object-fit: cover;
}

.avatar {
  border-radius: 2px;
  background-color: #1CA1C1;
}

.website-logo {
  display: inline-block;
  height: 40px;
  text-decoration: none;
}

.logo-icon {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.logo-name {
  display: inline-flex;
  font-size: medium;
  color: #fff;
  font-weight: 500;
}

.toolbar-text {
  /*display: inline-block;*/
}

footer {
  text-align: center;
}

footer > p {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.list-item {
  display: inline-flex;
}

.bold {
  font-weight: bold;
}

.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-row {
  display: inline-block;
  height: 100px;
  margin: 20px 0 20px 0;
}

.card-header {
  height: 50px !important;
}
.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}

.card-table .webix_ss_header td {
  border: none;
}

.card-table .webix_cell {
  border: none;
}

.card-table .webix_last_row {
  border: none;
}

.icon-button-primary:hover {
  color: #1CA1C1;
}

.icon-button-primary .webix_icon:before {
  color: #1CA1C1;
}

.icon-button-danger:hover {
  color: #FF5C4C;
}

.enable-border {
  border: 1px solid #dadee0;
}

.mt-0 {
  margin-top: 0 !important;
}

.thin > .webix_el_box {
  font-weight: 100 !important;
}

.template-header {
  border-right: 0;
}

.webix_list.profile-menu .webix_list_item{
  border:none;
}

.webix_list.profile-menu .webix_list_item:hover{
  color: #1CA1C1;
}

.button-rounded .webix_el_box button {
  border-radius: 25px;
}

.link .webix_template {
  padding: 10px 12px;
}

.webix_topcell {
  background-color: rgba(28, 161, 193, .1);
}

.avatar .webix_template > img {
  width: 100%;
  height: 100%;
}

.edited {
  background-color: rgba(28, 161, 193, .1);
}

.bg-white {
  background-color: white !important;
}
