.wbq-query_list .wbq-field-value,
.wbq-query_bar .wbq-field-value {
  color: #005ed6;
}
.wbq-query_list .wbq-field-name,
.wbq-query_bar .wbq-field-name {
  font-weight: 500;
}

.wbq-query_list .action-close,
.wbq-query_list .action-menu {
  cursor: pointer;
  margin-top: 10px;
  right: 4px;
  position: absolute;
}

.wbq-query_bar .action-close,
.wbq-query_bar .action-menu {
  cursor: pointer;
  margin: 8px -10px 0 8px;
}

.wbq-query_list .webix_scroll_cont > .webix_tree_leaves {
  padding: 8px 0;
}
.wbq-query_list .webix_tree_item {
  height: auto;
  padding: 0 16px;
  user-select: none;
  position: relative;
  background: #f4f5f9;
  border-radius: 2px;
  white-space: nowrap;
  overflow: visible !important;
}
.wbq-query_list .webix_tree_item.active-editor {
  line-height: 32px;
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #fff;
}
.wbq-query_list .webix_tree_item + .webix_tree_leaves {
  padding-top: 10px;
  border-left: 1px solid #ccd7e6;
  margin-left: 20px;
  padding-left: 16px;
}
.wbq-query_list .webix_tree_item.group {
  margin: 0;
}

.wbq-filter_join {
  position: absolute;
  z-index: 2;
  top: -24px;
  height: 20px;
  line-height: 20px;
  left: 0px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.wbq-filter_join_and {
  color: white;
  background: #fdbf4c;
}

.wbq-filter_join_or {
  color: white;
  background: #55cd97;
}

.wbq-query_list .webix_tree_leaves > div:first-child > div:first-child .wbq-filter_join {
  display: none;
}

.wbq-query_bar .webix_tree_leaves > div:first-child > div:first-child .wbq-filter_join {
  display: none;
}

.wbq-field-box {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}

.wbq-query_bar .webix_scroll_cont > .webix_tree_leaves {
  padding: 0px;
  white-space: nowrap;
  padding: 4px 0 4px 0;
}
.wbq-query_bar div {
  display: inline-block;
}
.wbq-query_bar .webix_tree_item {
  height: 32px;
  line-height: 32px;
  margin: 0px 52px 0px 0;
  padding: 0px 16px;
  user-select: none;
  position: relative;
  background: #fff;
  border-radius: 2px;
  white-space: nowrap;
  overflow: visible !important;
}
.wbq-query_bar .webix_tree_branch_1 .webix_tree_leaves:before,
.wbq-query_bar .webix_tree_branch_1 .webix_tree_leaves:after {
  color: #a78fd5;
}
.wbq-query_bar .webix_tree_branch_2 .webix_tree_leaves:before,
.wbq-query_bar .webix_tree_branch_2 .webix_tree_leaves:after {
  color: #68ccd2;
}
.wbq-query_bar .webix_tree_branch_3 .webix_tree_leaves:before,
.wbq-query_bar .webix_tree_branch_3 .webix_tree_leaves:after {
  color: #999;
}
.wbq-query_bar .group + .webix_tree_leaves:before,
.wbq-query_bar .group + .webix_tree_leaves:after {
  content: "(";
  margin: 0 2px 0 -4px;
  display: inline-block;
  transform: scaleX(0.75);
  font-size: 30px;
  line-height: 0;
  position: relative;
}
.wbq-query_bar .group + .webix_tree_leaves:after {
  content: ")";
  margin: 0 -4px 0 2px;
}
.wbq-query_bar .webix_tree_leaves .webix_tree_leaves {
  border-radius: 2px;
  margin-left: 0;
  margin-right: 52px;
}
.wbq-query_bar .webix_tree_leaves .webix_tree_leaves .webix_tree_item {
  background: white;
  margin-top: 0px;
  line-height: 32px;
}
.wbq-query_bar .webix_tree_leaves > div:last-child > div {
  margin-right: 0px;
}
.wbq-query_bar .webix_tree_leaves > .webix_tree_branch_1 > .webix_tree_leaves {
  padding: 4px;
  margin-top: -4px;
  margin-bottom: -4px;
}
.wbq-query_bar .wbq-filter_join {
  top: 6px;
  left: -44px;
  width: 36px;
}
.wbq-query_bar .group {
  padding: 0;
  height: 20px;
  margin-right: 0px;
  background: transparent;
}

.webix_toolbar .wbq-query_bar {
  background-color: transparent;
}

.wbq-query_list .webix_tree_item {
  line-height: 32px;
  margin-bottom: 28px;
}
.wbq-query_list .active-editor.webix_tree_item {
  line-height: 20px;
}

.wbq-query_list .action-menu {
  margin-top: 8px;
}

.wbq-query_bar .group + .webix_tree_leaves:before,
.wbq-query_bar .group + .webix_tree_leaves:after {
  color: #fff;
  top: 4px;
}

.wbq-field-box {
  margin-bottom: -13px;
}