@charset "UTF-8";
/* card sizes */
@font-face {
  font-family: "filemanager-webfont";
  src: url("../fonts/filemanager-webfont.woff2") format("woff2"), url("../fonts/filemanager-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^=fmi-]:before,
[class*=fmi-]:before {
  font-family: "filemanager-webfont";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/*
Glyphs list
*/
.fmi-check:before {
  content: "";
}

.fmi-circle:before {
  content: "";
}

.fmi-file-plus-outline:before {
  content: "";
}

.fmi-file-tree:before {
  content: "";
}

.fmi-file-upload-outline:before {
  content: "";
}

.fmi-folder-plus-outline:before {
  content: "";
}

.fmi-information-outline:before {
  content: "";
}

.fmi-open-in-new:before {
  content: "";
}

.fmi-view-array:before {
  content: "";
}

.fmi-view-grid:before {
  content: "";
}

.fmi-view-list:before {
  content: "";
}

.fmi-content-copy:before {
  content: "";
}

.fmi-content-cut:before {
  content: "";
}

.fmi-content-paste:before {
  content: "";
}

.fmi-rename-box:before {
  content: "";
}

.webix_fmanager_cards {
  background-color: #ebedf0;
}
.webix_fmanager_cards .webix_dataview_item.tiles {
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
  border-color: #ccd7e6;
}
.webix_fmanager_cards .webix_dataview_item.tiles.webix_selected {
  border-color: #1ca1c1;
}
.webix_fmanager_cards .webix_dataview_item.tiles.webix_drag_over {
  background-color: #f4f5f9;
}
.webix_fmanager_cards .webix_dataview_item.tiles.webix_drag_over.webix_selected {
  background-color: #ffffff;
}
.webix_fmanager_cards .webix_dataview_item.tiles .webix_fmanager_folder_icon {
  margin-left: 4px;
  color: #1ca1c1;
  font-size: 90px;
}
.webix_fmanager_cards .webix_dataview_item.tiles .webix_fmanager_folder_icon:before {
  margin-left: 0px;
}

.webix_fmanager_card_label {
  color: #828d9c;
  font-size: 12px;
  line-height: 12px;
  display: block;
}

.webix_fmanager_card_preview {
  position: relative;
  height: 119px;
}
.webix_fmanager_card_preview.file {
  background-color: white;
  height: 124px;
}
.webix_fmanager_card_preview.file:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 80%, rgba(134, 134, 134, 0.3));
}

.webix_fmanager_card_panel {
  position: relative;
  padding: 10px 12px;
  height: 36px;
}
.webix_fmanager_card_panel.file {
  height: 30px;
  border-top: 1px solid #ccd7e6;
}

.webix_fmanager_card_name {
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  width: 155px;
  height: 29px;
  line-height: 30px;
  color: #475466;
}
.webix_fmanager_card_name.folder {
  overflow: hidden;
  text-overflow: ellipsis;
}
.webix_fmanager_card_name .webix_fmanager_file-type-icon {
  margin: 0;
  height: 29px;
}

.webix_fmanager_menu_icon {
  position: absolute;
  padding: 4px;
  width: 20px;
  border-radius: 100px;
  right: 12px;
  bottom: 10px;
  color: #475466;
  font-size: 20px;
}
.webix_fmanager_menu_icon:hover {
  background-color: #ebedf0;
}

.file_name_text {
  margin-left: 8px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 125px;
}

.webix_fmanager_search_mark {
  background: yellow;
  color: #313131;
}

.webix_fmanager_preview_name .webix_el_box {
  padding: 3px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webix_fmanager_preview {
  border-top-color: transparent;
}

.webix_fmanager_preview .webix_template {
  padding: 0px;
}
.webix_fmanager_preview .webix_template img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.webix_fmanager_preview .webix_template img.webix_fmanager_preview_icon {
  margin: 20px;
  width: 90%;
  height: 90%;
}

.webix_fmanager_info_tab .webix_item_tab.webix_selected {
  cursor: default;
}
.webix_fmanager_info_tab .webix_item_tab.webix_selected:focus {
  box-shadow: inset 0 -2px #1ca1c1;
  color: #1ca1c1;
}

.webix_fmanager_preview_info.extra {
  border-color: #ebedf0 transparent transparent;
}
.webix_fmanager_preview_info .webix_template {
  padding: 0;
}
.webix_fmanager_preview_info .key_col {
  float: left;
  width: 40%;
  font-weight: 500;
  text-align: right;
}
.webix_fmanager_preview_info .value_col {
  float: right;
  width: 60%;
  white-space: nowrap;
}
.webix_fmanager_preview_info .key_value_cell {
  padding: 6px;
}
.webix_fmanager_preview_info .key_value_cell.key {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.webix_fmanager_id3tags-unknown {
  color: #94a1b3;
}

.webix_fmanager_info_header {
  margin: 8px 0;
}
.webix_fmanager_info_header .webix_fmanager_icon {
  color: #94a1b3;
  line-height: 1.5;
}

.webix_fmanager_info_title {
  color: #475466;
  font-weight: 500;
}

/* plyr player style */
.webix_fmanager_player .plyr--audio .plyr__controls {
  background: #ffffff;
}
.webix_fmanager_player .plyr__video-wrapper {
  background: #ffffff;
}
.webix_fmanager_player .plyr--video .plyr__controls {
  background: linear-gradient(transparent, #ffffff);
}
.webix_fmanager_player .plyr--video .plyr__progress__buffer {
  color: rgba(193, 201, 209, 0.66);
  box-shadow: none;
  background: rgba(193, 201, 209, 0.66);
}
.webix_fmanager_player .plyr--video .plyr__control.plyr__tab-focus,
.webix_fmanager_player .plyr--video .plyr__control--overlaid {
  background: #1ca1c1;
}
.webix_fmanager_player .plyr--video .plyr__control--overlaid:hover {
  background: #1787a2;
}
.webix_fmanager_player .plyr--video .plyr__control.plyr__tab-focus {
  box-shadow: none;
}
.webix_fmanager_player .plyr__time--current {
  color: #4a5764;
}
.webix_fmanager_player .icon--not-pressed,
.webix_fmanager_player .icon--pressed {
  fill: #4a5764;
}
.webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--not-pressed, .webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__volume .plyr__control:hover .icon--not-pressed, .webix_fmanager_player .plyr__controls__item.plyr__volume .plyr__control:hover .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__control.plyr__tab-focus,
.webix_fmanager_player .plyr__controls__item .plyr__control.plyr__tab-focus, .webix_fmanager_player .plyr__controls__item.plyr__control:hover,
.webix_fmanager_player .plyr__controls__item .plyr__control:hover,
.webix_fmanager_player .plyr__controls__item .plyr__control[aria-expanded=true], .webix_fmanager_player .plyr__controls__item.plyr__control[aria-expanded=true] {
  fill: #1ca1c1;
  background: transparent;
}
.webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--not-pressed .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--not-pressed .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--pressed .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--pressed .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__volume .plyr__control:hover .icon--not-pressed .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__volume .plyr__control:hover .icon--not-pressed .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__volume .plyr__control:hover .icon--pressed .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__volume .plyr__control:hover .icon--pressed .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__control.plyr__tab-focus .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__control.plyr__tab-focus .icon--pressed,
.webix_fmanager_player .plyr__controls__item .plyr__control.plyr__tab-focus .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item .plyr__control.plyr__tab-focus .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__control:hover .icon--pressed,
.webix_fmanager_player .plyr__controls__item .plyr__control:hover .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item .plyr__control:hover .icon--pressed,
.webix_fmanager_player .plyr__controls__item .plyr__control[aria-expanded=true] .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item .plyr__control[aria-expanded=true] .icon--pressed, .webix_fmanager_player .plyr__controls__item.plyr__control[aria-expanded=true] .icon--not-pressed,
.webix_fmanager_player .plyr__controls__item.plyr__control[aria-expanded=true] .icon--pressed {
  fill: #1ca1c1;
}
.webix_fmanager_player .plyr__controls__item.plyr__control.plyr__tab-focus,
.webix_fmanager_player .plyr__controls__item .plyr__control.plyr__tab-focus {
  box-shadow: none;
}
.webix_fmanager_player .plyr--full-ui input[type=range] {
  color: #1ca1c1;
}
.webix_fmanager_player .plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track {
  box-shadow: 0 0 0 2px rgba(28, 161, 193, 0.5);
}
.webix_fmanager_player .plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 0 2px rgba(28, 161, 193, 0.5);
}
.webix_fmanager_player .plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
  box-shadow: 0 0 0 2px rgba(28, 161, 193, 0.5);
}
.webix_fmanager_player .plyr--full-ui.plyr--video input[type=range]::-moz-range-track {
  background-color: rgba(193, 201, 209, 0.66);
}
.webix_fmanager_player .plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(193, 201, 209, 0.66);
}
.webix_fmanager_player .plyr--full-ui.plyr--video input[type=range]::-ms-track {
  background-color: rgba(193, 201, 209, 0.66);
}

.webix_fmanager_tree .webix_tree_item.webix_selected .webix_icon,
.webix_fmanager_tree .webix_tree_item .webix_icon {
  color: #ccc;
  padding: 0 2px 0 0;
  font-size: 21px;
  vertical-align: top;
}

.webix_fmanager_fsstats .webix_template {
  padding: 4px 14pt;
}

.webix_fmanager_inner_drag_zone_list .webix_fmanager_file-type-icon, .webix_fmanager_file-type-icon {
  float: left;
  height: 29px;
}

.webix_fmanager_filelist .webix_dtable_colrow {
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #edeff0;
}
.webix_fmanager_filelist .webix_dtable_colrow.webix_selected .webix_fmanager_back_icon {
  position: relative;
  top: 3px;
  color: #1ca1c1;
  font-size: 23px;
  margin-right: 10px;
}
.webix_fmanager_filelist .webix_dtable_colrow.webix_selected .webix_fmanager_back {
  color: #1ca1c1;
}
.webix_fmanager_filelist .webix_dtable_colrow.webix_selected .webix_fmanager_back:hover {
  color: #1ca1c1;
}
.webix_fmanager_filelist .webix_dtable_colrow .webix_fmanager_back_icon {
  position: relative;
  top: 3px;
  color: #1ca1c1;
  font-size: 23px;
  margin-right: 10px;
}
.webix_fmanager_filelist .webix_dtable_colrow .webix_fmanager_back {
  color: #94a1b3;
}
.webix_fmanager_filelist .webix_dtable_colrow .webix_fmanager_back:hover {
  color: #1ca1c1;
}
.webix_fmanager_filelist .wxi-folder {
  position: relative;
  top: 2px;
  color: #ccc;
  font-size: 23px;
  margin-right: 10px;
}

.webix_fmanager_file-type-icon {
  margin-top: 3px;
  margin-right: 7px;
}

.webix_fmanager_grid_drag_zone_list {
  padding: 4px 8px;
  border: 1px solid #edeff0;
  font-weight: 500;
}

.webix_fmanager_inner_drag_zone_list {
  line-height: 28px;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.webix_fmanager_inner_drag_zone_list .webix_fmanager_file-type-icon {
  margin-top: -2px;
  margin-right: 8px;
}
.webix_fmanager_inner_drag_zone_list .wxi-folder {
  position: relative;
  top: 2px;
  color: #ccc;
  font-size: 23px;
  margin-right: 10px;
}

.webix_fmanager_prompt .webix_win_head {
  border-color: #ffffff;
}
.webix_fmanager_prompt .webix_win_head .webix_toolbar {
  background: #ffffff;
}
.webix_fmanager_prompt .webix_win_head .webix_toolbar .webix_el_label {
  color: #475466;
}
.webix_fmanager_prompt .webix_win_head .webix_toolbar .webix_icon_button .webix_icon {
  color: #94a1b3;
}
.webix_fmanager_prompt .webix_win_head .webix_toolbar .webix_icon_button:hover .webix_icon {
  color: #475466;
}
.webix_fmanager_prompt .webix_fmanager_prompt_input input {
  border-color: transparent;
  border-bottom-color: #ccd7e6;
}
.webix_fmanager_prompt .webix_fmanager_prompt_input input:focus {
  border-color: transparent;
  border-bottom-color: #1ca1c1;
}
.webix_fmanager_prompt .webix_fmanager_prompt_input.webix_invalid input {
  border-color: #ff8d82;
  border-bottom-color: #ff8d82;
}
.webix_fmanager_prompt .webix_fmanager_prompt_input.webix_invalid:focus {
  border-color: #ff8d82;
  border-bottom-color: #ff8d82;
}

.webix_fmanager_progress .webix_win_head {
  border-bottom: 1px solid transparent;
}

.webix_fmanager_progress_head {
  box-shadow: inset 0 4px #1ca1c1;
  background-color: #ffffff;
}
.webix_fmanager_progress_head .webix_template {
  padding-top: 12px;
  text-align: center;
}

.webix_template > div.webix_fmanager_progress_bar {
  text-align: center;
}

.webix_fmanager_progress_counter {
  font-weight: 500;
}

.webix_fmanager_progress_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.webix_fmanager_progress_cancel .webix_el_box {
  padding: 2px 0;
}

.webix_fmanager_spec_icon .webix_icon {
  font-size: 20px;
  height: 20px;
}

.webix_fmanager_editor_save .webix_icon_btn {
  margin-left: -6px;
}
.webix_fmanager_editor_save .webix_icon_btn.webix_fmanager_icon.fmi-circle {
  color: #ffe834;
  font-size: 14px;
}

.webix_fmanager_path .webix_template {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  padding: 0;
}

.webix_fmanager_path_chunk:hover {
  cursor: pointer;
  color: #1ca1c1;
}

.webix_fmanager_context-menu-hotkey {
  color: #94a1b3;
  float: right;
}

.webix_fmanager_preview_toggle .webix_icon_btn {
  margin-right: 0;
}

.webix_fmanager_add_new_menu {
  border-color: transparent;
}

/* folder icons for dnd hover in all views*/
.webix_fmanager_filelist .webix_drag_over .wxi-folder:before,
.webix_fmanager_cards .webix_drag_over .wxi-folder:before,
.webix_fmanager_tree .webix_drag_over .wxi-folder:before {
  content: "";
  /* opened folder */
}
.webix_fmanager_filelist .webix_drag_over.webix_selected .wxi-folder:before, .webix_fmanager_filelist .webix_drag_over.webix_row_select .wxi-folder:before,
.webix_fmanager_cards .webix_drag_over.webix_selected .wxi-folder:before,
.webix_fmanager_cards .webix_drag_over.webix_row_select .wxi-folder:before,
.webix_fmanager_tree .webix_drag_over.webix_selected .wxi-folder:before,
.webix_fmanager_tree .webix_drag_over.webix_row_select .wxi-folder:before {
  content: "";
  /* closed folder */
}

.webix_fmanager_confirm .webix_popup_text {
  text-align: left;
}
.webix_fmanager_confirm .webix_popup_text .question {
  margin-bottom: 10px;
}
.webix_fmanager_confirm .webix_popup_text .item {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* text-overflow 'middle-ellipsis' */
.webix_fmanager_editor_name .webix_el_box {
  white-space: nowrap;
}
.webix_fmanager_editor_name .webix_el_box .filename {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 51px);
}

/* material overrides */
.webix_fmanager_filelist .wxi-folder:before {
  margin-left: -2px;
}

.webix_fmanager_mode_icon {
  font-size: 18px;
}

.webix_fmanager_preview_toggle .webix_icon_btn {
  vertical-align: middle;
}

.webix_fmanager_preview_toggle :-moz-any(.webix_icon_btn) {
  vertical-align: text-bottom;
}

.webix_fmanager_editor_save .webix_fmanager_icon.fmi-circle {
  vertical-align: initial;
}

.webix_fmanager_menu .webix_icon:before {
  vertical-align: middle;
}
.webix_fmanager_menu :-moz-any(.webix_list_icon) {
  vertical-align: text-bottom;
}